        nav {
            background-color: #3E8412 !important;
        }

        .card-header {
            background-color: #3E8412 !important;
        }

        .card-body {
            background-color: #C2FF9B !important;
        }

        tr th {
            font-size: 12px;
        }

        td {
            font-size: 12px;
        }

        .pilih_gambar {
            border: 1px;
        }